@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

/* General Styles */
.section-grid {
  @apply lg:grid lg:grid-cols-12 lg:gap-x-[32px]
}

.section-padding {
  @apply px-[24px] md:px-[40px] py-[60px] lg:px-0
}

.title {
  @apply font-semibold leading-110 -tracking-5 mb-[35px]
}

/* Sections Styles */
.sectionHero {
  @apply
  flex flex-col
  section-grid
  section-padding
  text-center lg:text-start
  gap-y-[24px] lg:gap-y-0 
}

.sectionIntro {
  @apply
  flex flex-col 
  md:grid md:grid-cols-12 md:gap-x-[32px]
  py-[60px]
}

.sectionTips {
  @apply
  relative
  flex flex-col 
  section-grid
  section-padding
  lg:my-[50px]
  gap-y-[40px] lg:gap-y-[48px]
  bg-gradient-to-br from-[#D6FCFE00] to-[#D6E6FE]
  lg:bg-none
}

.sectionLimitations {
  @apply 
  flex flex-col 
  md:grid md:grid-cols-12
  section-grid 
  px-[24px] py-[60px] lg:py-[80px] lg:px-0
  gap-y-[16px]
  md:gap-y-[24px] md:gap-x-[15px]
  lg:gap-y-[16px] lg:gap-x-[32px]
}

/* Components Styles */
.calculator {
  @apply 
  bg-white
  w-full flex flex-col 
  rounded-[16px] shadow-default
  p-[24px] md:p-[32px] 
  gap-y-[24px] lg:gap-y-[32px] 
}

.calculator__title {
  @apply 
  text-dark-blue 
  text-[24px] font-semibold
  text-start
  -tracking-5
}

.calculator__result {
  @apply 
  bg-gradient-to-r from-[#345FF6] to-[#587DFF] 
  text-white 
  p-[32px]
  rounded-[16px] md:rounded-result-container-lg
}

.custom-radio input {
  border: 1px solid #D8E2E7;
  border-radius: 9999px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.custom-radio input:checked {
  border: none;
  background-color: #345FF6;
  width: 15px;
  height: 15px;
  outline: 15px solid #345FF626;
  outline-offset: -15px;
  margin: 0 7.5px;
}

.custom-radio input:hover {
  border: 1px solid #345FF6;
}

.hero__overlay {
  @apply
  absolute top-0 lg:right-[280px] 
  w-full h-[640px] lg:w-[978px] lg:h-[737px]
  rounded-br-[30px] rounded-bl-[30px]
  bg-gradient-to-br from-[#D6FCFE00] to-[#D6E6FE]
  -z-10
}

.sectionTips__overlay {
  @apply
  hidden lg:block
  absolute
  w-full h-[350px]
  scale-x-125 
  scale-y-105
  bg-gradient-to-br from-[#D6FCFE00] to-[#D6E6FE] 
  rounded-[35px]
  -z-50
}